html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 2rem;
  height: 100%;
  background-color: var(--bs-light);
  scroll-behavior: smooth;
}

.select-file {
  flex: 1 0 30%;
}

.fade-row-in {
  animation: fade-in .2s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-row-out {
  animation: fade-out .2s ease-in;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.toast-position-center {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) !important;
  padding: 1em 1em 2em 1em !important;
}

.toast-fade-in {
  animation: fade-in .5s ease-in;
}

.divider-bottom {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 0.5em;
}

.notification-toast {
  width: auto;
  padding: 0 2em;
}

.whitespace-nowrap {
  white-space: nowrap;
}